
.container 
{
	width: 1000px;
	height: auto;
	background: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 10px;
	margin: auto;
	margin-top:50px;
	text-align: left;
	vertical-align: middle;
	/*position: relative;*/
}
.upload_btn 
{
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	border-radius: 10px;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	display: inline-block;
	padding: 0 10px 0 10px;
	cursor: pointer;
}

.reset_btn,
.save_btn
{
	float:right;
	margin:5px 15px 0 0;
	border-radius: 8px;
}

.upload_btn:hover,
.reset_btn:hover,
.save_btn:hover
{
	background: #eaeaea;
}
#img1, 
#img2
{
	width:400px;
	height: 400px;
	border:1px solid blue;
	margin:20px 10px;
	border-radius: 5px;
}
/*#img1 img,*/
#img2 img
{
	width:100%;
	height:100%;
	object-fit: scale-down;
}
#img1 img
{
	width:100%;
	height:100%;
	object-fit: contain;
}
#name_img1, 
#name_img2
{
	width:400px;
	height: 30px;
	/*border:1px solid blue;*/
	margin:20px 10px;
	border-radius: 5px;
	background: #cccccc;
	color: #333333;
	border: 1px solid #999999;
	/*border-radius: 10px;*/
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
}
#preview1
{
	float:left;
	margin-left:10px;
}
#preview2
{
	float:right;
	margin-right: 10px;
}
.clear
{
	clear:both;
}
.upload_frame 
{
	width: 0;
	height: 0;
	display: none;
}
.close {
    /*position: absolute;*/
    float: right;
    /*display: block;*/
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    line-height: 16px;
    width: 18px;
    height: 18px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background: #F0F0F0;
    text-align: center;
    font-weight: bold;
    margin:5px 15px 0 0;
}
.close:hover {
    background: #cccccc;
}
#popup_upload
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0 ,0, 0.7);
	z-index: 99;
	text-align: center;
	display: none;
	overflow: auto;
}
.newFileName
{
	background: #cccccc;
	color: #333333;
	width:400px;
	height: 30px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	margin:20px 20px;
}
.newName 
{
	float:left;
}
.sizeFile
{
	float:right;
}